img {
    width: 200px;
}
body { 
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    background-image: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-11.jpg);
    background-repeat: no-repeat;
    
}
p{
    background-color: yellow;
}
h1{
    background-color: yellow;
}